/plugged
/.netrwhist
/tags
**/plugged
zsh/.config/zsh/secrets.zsh
**/.zcompdump
**/.zsh_history
**/.zcompcache
group_vars/vault.yml
/pass

# Generated automatically
/roles/dotfiles/files/config/zsh/completions/
