{% for aws_profile in vault_aws_profiles %}
[{{ aws_profile.name }}]
region = {{ aws_profile.region }}
aws_access_key_id = {{ aws_profile.aws_access_key_id }}
aws_secret_access_key = {{ aws_profile.aws_secret_access_key }}
{% if not loop.last %}

{% endif %}
{% endfor %}
